<p>contact works!</p>
<div class="container">
    <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
        <!-- <div >
          <label for="id">ID</label>
          <input id="id" type="text" formControlName="id" readonly>
        </div>
       -->
        <div>
          <label for="id_user">Mã User</label>
          <input id="id_user" type="text" formControlName="id_user">
          <div *ngIf="userForm.get('id_user')?.invalid && userForm.get('id_user')?.touched">
            Mã người dùng là bắt buộc.
          </div>
        </div>
      
        <div>
          <label for="avatar">Avatar</label>
          <input id="avatar" type="text" formControlName="avatar">
        </div>
      
        <div>
          <label for="name">Tên user</label>
          <input id="name" type="text" formControlName="name">
          <div *ngIf="userForm.get('name')?.invalid && userForm.get('name')?.touched">
            Tên là bắt buộc.
          </div>
        </div>
      
        <div>
          <label for="email">Email</label>
          <input id="email" type="email" formControlName="email">
          <div *ngIf="userForm.get('email')?.invalid && userForm.get('email')?.touched">
            Nhập email hợp lệ.
          </div>
        </div>
      
        <div>
          <label for="joinDate">Ngày tham gia</label>
          <input id="joinDate" type="date" formControlName="joinDate">
          <div *ngIf="userForm.get('joinDate')?.invalid && userForm.get('joinDate')?.touched">
            Ngày tham gia là bắt buộc.
          </div>
        </div>
      
        <button type="submit" >Submit</button>
      </form>
      
      <p>Kết quả: {{ result }}</p>


      <div class="container">
        <div *ngFor="let user of users">
            <tr>
                <li>
                    {{user.id}}
                </li>
                <li>
                    {{user.id_user}}
                </li>
                <li>
                    {{user.name}}
                </li>
                <li>
                    {{user.email}}
                </li>
                <li>
                    {{user.joinDate}}
                </li>
            </tr>
        </div>
      </div>
</div>