<p>contact works!</p>
<div class="container">
    <form [formGroup]="userForm" >
        <div class="">
            <div class="row">
                <div class="col-4">
                    <label for="">tên user</label>
                    <input type="text" class="form-control" formControlName="fullname">
                </div>
            </div>
            <div class="row">
                <div class="col-4">
                    <label for="">email</label>
                    <input type="text" class="form-control" formControlName="email">
                </div>
            </div>
            <div class="row">
                <div class="col-4">
                    <label for="">số điện thoại</label>
                    <input type="text" class="form-control" formControlName="contact">
                </div>
            </div>
        </div>
        <div formArrayName="subjects">
            <div *ngFor="let subject of subjects.controls,let i=index" [formGroupName]="i">
                <div class="row">
                    <div class="col-4">
                        <label for="">tên</label>
                        <input type="text" class="form-control" formControlName="name">
                    </div>
                </div>
                <div class="row">
                    <div class="col-4">
                        <label for="">status</label>
                        <input type="text" class="form-control" formControlName="status">

                    </div>
                </div>
                <div class="row">
                    <div class="col-4">
                        <label for="">marks</label>
                        <input type="text" class="form-control" formControlName="marks">
                    </div>
                </div>
                <div class="row">
                    <div class="col-4">
                        <button type="button" (click)="RemoveSubjects(i)">Xóa subject</button>
                    </div>
                </div>
                {{result}}
            </div>
        </div>
        <div class="col-4">
            <button type="button" (click)="AddSubjects()">Thêm subject</button>
        </div>
        <div class="col-4">
            <button type="submit" (click)="onSubmit()">Submit</button>
        </div>
    </form>

</div>